version: '3.8'

services:
  jekyll:
    image: jekyll/jekyll:4.3
    container_name: mladenraykov-portfolio
    command: jekyll serve --watch --force_polling --verbose --livereload
    ports:
      - "4000:4000"
      - "35729:35729"  # LiveReload port
    volumes:
      - .:/srv/jekyll
      - ./vendor/bundle:/usr/local/bundle
    environment:
      - JEKYLL_ENV=development
