<header id="header" class="header dark-background d-flex flex-column justify-content-center">
  <i class="header-toggle d-xl-none bi bi-list"></i>

  <div class="header-container d-flex flex-column align-items-start">
    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="{% if page.url == '/' %}#hero{% else %}index.html#hero{% endif %}"><i class="bi bi-house navicon"></i>Home</a></li>
        <li><a href="{% if page.url == '/' %}#about{% else %}index.html#about{% endif %}"><i class="bi bi-person navicon"></i> About</a></li>
        <li><a href="{% if page.url == '/' %}#resume{% else %}index.html#resume{% endif %}"><i class="bi bi-file-earmark-text navicon"></i> Resume</a></li>
        <li class="dropdown"><a href="{% if page.url == '/' %}#portfolio{% else %}index.html#portfolio{% endif %}"><i class="bi bi-images navicon"></i> <span>Portfolio</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="{% if page.url == '/' %}#portfolio{% else %}index.html#portfolio{% endif %}">Portfolio Overview</a></li>
            <li class="dropdown"><a href="portfolio-details.html?project=blocklang-extension"><span> BlockLang Ext </span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="portfolio-details.html?project=blocklang-extension">Project Overview</a></li>
                <li><a href="portfolio-details.html?project=blocklang-extension#motivations">Why I Started This</a></li>
                <li><a href="portfolio-details.html?project=blocklang-extension#problems">How I Grew It</a></li>
                <li><a href="portfolio-details.html?project=blocklang-extension#challenges">Challenges</a></li>
                <li><a href="portfolio-details.html?project=blocklang-extension#technical-details">Tech Stack</a></li>
                <li><a href="portfolio-details.html?project=blocklang-extension#results">Results</a></li>
                <li><a href="portfolio-details.html?project=blocklang-extension#feedback">User Feedback</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="portfolio-details.html?project=blocklang-website"><span> BlockLang Web </span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="portfolio-details.html?project=blocklang-website">Project Overview</a></li>
                <li><a href="portfolio-details.html?project=blocklang-website#motivations">Why I Started This</a></li>
                <li><a href="portfolio-details.html?project=blocklang-website#problems">How I Grew It</a></li>
                <li><a href="portfolio-details.html?project=blocklang-website#challenges">Challenges</a></li>
                <li><a href="portfolio-details.html?project=blocklang-website#technical-details">Tech Stack</a></li>
                <li><a href="portfolio-details.html?project=blocklang-website#results">Results</a></li>
                <li><a href="portfolio-details.html?project=blocklang-website#feedback">User Feedback</a></li>
                <li><a href="https://blocklang.org" target="_blank">Live Website</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="portfolio-details.html?project=body-language-org"><span> Body-Language </span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="portfolio-details.html?project=body-language-org">Project Overview</a></li>
                <li><a href="portfolio-details.html?project=body-language-org#motivations">Why I Started This</a></li>
                <li><a href="portfolio-details.html?project=body-language-org#problems">How I Grew It</a></li>
                <li><a href="portfolio-details.html?project=body-language-org#challenges">Challenges</a></li>
                <li><a href="portfolio-details.html?project=body-language-org#technical-details">Tech Stack</a></li>
                <li><a href="portfolio-details.html?project=body-language-org#results">Results</a></li>
                <li><a href="portfolio-details.html?project=body-language-org#feedback">User Feedback</a></li>
                <li><a href="https://body-language.org" target="_blank">Live Website</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="portfolio-details.html?project=scam-checker"><span> Scam Checker </span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="portfolio-details.html?project=scam-checker">Project Overview</a></li>
                <li><a href="portfolio-details.html?project=scam-checker#motivations">Why I Started This</a></li>
                <li><a href="portfolio-details.html?project=scam-checker#problems">How I Grew It</a></li>
                <li><a href="portfolio-details.html?project=scam-checker#challenges">Challenges</a></li>
                <li><a href="portfolio-details.html?project=scam-checker#technical-details">Tech Stack</a></li>
                <li><a href="portfolio-details.html?project=scam-checker#results">Results</a></li>
                <li><a href="portfolio-details.html?project=scam-checker#feedback">User Feedback</a></li>
                <li><a href="https://app.blocklang.org" target="_blank">Live Website</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="{% if page.url == '/' %}#services{% else %}index.html#services{% endif %}"><i class="bi bi-hdd-stack navicon"></i> Services</a></li>
<!--        <li><a href="/assets/files/Mladen_Raykov_CV.pdf" download="Mladen_Raykov_CV.pdf"><i class="bi bi-download navicon"></i> Download CV</a></li>-->
        <li><a href="{% if page.url == '/' %}#contact{% else %}index.html#contact{% endif %}"><i class="bi bi-envelope navicon"></i> Contact</a></li>
      </ul>
    </nav>

    <div class="social-links text-center">
      <a href="https://github.com/MadJiGit" class="github"><i class="bi bi-github"></i></a>
      <a href="https://www.linkedin.com/in/mladen-raykov-562697a1/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
      <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
      <a href="https://www.instagram.com/block_langapp/" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="mailto:hello@mladenraykov.com" class="email"><i class="bi bi-envelope"></i></a>
    </div>

  </div>

</header>